:root {
    --background-white: #FCF6D5;
    --background-light: #E9E2BA;
    --text-dark: #861908;
    --color-primary-1: #f39886;
    --color-primary-2: #f37056;
    --color-primary-3: #f54b29;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Rubik, sans-serif;
    color: var(--text-dark)
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-white);
    overflow-x: hidden;
}

.container {
    width: 100%;
    height: 100%;

}

nav {
    background-color: var(--background-light);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 20px;
}

.btn {
    padding: 15px 20px;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #fff;
}

a.btn {
    margin-left: 5px;
}

.btn-primary {
    background-color: var(--color-primary-2);
    color: var(--background-white);
}

.btn-primary:hover {
    transform: scale(1.05);
    background-color: var(--color-primary-3);
}

main {
    display: flex;
    padding: 0px;
    width: 100%;
}

section.graph {
    width: 30%;
    height: 100%;
    padding: 20px;
}

section.graph_placeholder {
    display: flex;
    flex: 1;
}

.graph_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.graph h2 {
    flex: 1;
    display: inline-block;
}

/* .graph_header-line {
    flex: 1;
    background-color: var(--color-primary-1);
    height: 1px;
} */

.graph_header-date {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 15px;
}

.graph_header-date img {
    width: 15px;
}

.graph_header-subtitle {
    margin-top: 10px;
}

.graph_placeholder {
    background-color: #ccc;
    width: 300px;
    height: 300px;
    margin: 30px auto;
}

.graph_header-tasks_left_footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.graph_header-tasks_left_footer img {
    width: 22px;
    margin-right: 5px;
}

.list {
    padding: 20px;
    flex: 1;
}

.list_header {
    display: flex;
}

.list_header-select {
    background-color: transparent;
    border: 0;
    margin-top: 5px;
}

.task_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
}

.task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-primary-1);
    transition: all .3s ease-in-out;
}

.task:hover {
    background-color: var(--background-light);
    transform: scale(1.01);
    border-radius: 10px;
    overflow: hidden;
}

.title {
    display: flex;
    align-items: center;
    flex: 1;
}

.task_title {
    padding-left: 10px;
    font-weight: bold;
}

.priority,
.actions {
    display: flex;
    align-items: center;
    flex: 1;
}

.actions {
    display: flex;
    justify-content: flex-end;
}

.actions a {
    margin-left: 10px;
    transition: all .3s ease-in-out;
}

.actions a:hover {
    transform: scale(1.30);
}

.actions img {
    width: 22px;
}

.sphere {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: rgb(128, 68, 0);
}

form {
    content: '';
    display: block;
    width: 100%;
    /* height: 100%; */
    border: 1px solid var(--text-dark);
    padding: 5px 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

#task_section {
    margin: auto;
    padding: 10px;
    padding-top: 8%;
    max-width: 400px; /* Defina uma largura máxima desejada */
    width: 100%;
}

#task_section>h1 {
    text-align: center;
    margin-bottom: 20px;
}

.inputArea {
    display: block;
    margin: 10px 0 20px 0;
}

.inputArea>label {
    display: block;
    margin-bottom: 5px;
    margin-left: 5px;
}

.inputArea>input,
.inputArea>select {
    height: 40px;
    width: 100%; /* Ajuste para ocupar toda a largura disponível */
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    box-sizing: border-box; /* Garante que o padding esteja incluído na largura total */
}

.inputArea>textarea {
    height: 120px;
    width: 100%; 
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    box-sizing: border-box;
}